*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Parent-Div{
  width: 100vw;
  height: 100vh;
   display: flex;
  justify-content: center;
  align-items: center; 
 flex-direction: column; 
 background-color: black;
}
#chat-Box{
  width: 90%;
  height: 60vh;
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border: 2px solid rgb(59, 54, 54);
  box-shadow: 0 0 15px rgb(128, 128, 128);
}
#Room{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -50px; */
  /* border: 2px solid rgb(56, 54, 54); */
  position: fixed;
  top: 50px;
}
#Room #Live{
  color: green;
  width: 30px;
  font-weight: 700;
  margin-right: 50px
}
#Room input{
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding-left: 5px;
}
#Room button{
  font-size: 15px;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: rgb(19, 19, 74);
}
#Status{
  margin-bottom: 20px;
}

#Msg-Box{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  margin-bottom: 60px;
}


.seen-Message{
  color: white;
  position: relative;
  top: -15px;
  left: 10%;
}
.message{
  width: 40%;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px gray;
}

.outMsg{
  color: black;
  background-color: rgb(72, 179, 150);
}
.inMsg{
  background-color: #fff;
  color: black;
  margin-left: 60%;
}
#input-Box{
  width: 80%;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 9%;
}
#input-Box input{
   width: 60%;
   height: 30px;
   padding: 5px 10px;
   font-size: 15px;
   padding-left: 10px;
   border: none;
   outline: none;
   background-color: rgb(80, 78, 78);
}
#input-Box button{
  padding: 5px 10px;
  font-size: 15px;
  margin-left: 20px;
  background-color: rgb(19, 19, 74);
}

@media only screen and (max-width:450px){
  #Parent-Div{
  
  }
  #Room{
    position: sticky;
    top: 0px;
    background-color: #06021c;
  }
  #Room #Live{
    color: green;
    width: 30px;
    font-weight: 700;
    margin-right: 10px
  }
  #chat-Box{
    height: 250px;
    margin-top: 10px;
  }
  .message{
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px gray;
  }
  #input-Box{
    width: 80%;
    height: 50px;
    position: relative;
    margin-top: 35px;
    left: 0;
  }
}

